.titles {
    display:block;
}
.headingRow {
    margin-top:50px;
    border-bottom: 2px solid black;
    font-weight: 400;
    margin-bottom:20px;
}
.detailRow {
    background-color: white;
}

table {
    margin-left:20px;
    margin-right:20px;
}