{% extends "base.html" %}

{% block content %}
    <h2>Assign Dates</h2>
    <form autocomplete="off" action="" method="post" novalidate>
        <input autocomplete="false" name="hidden" type="text" style="display:none;">
        {{ form.hidden_tag() }}
        <p>
            {{ form.trnDate.label }}<br>
            {{ form.trnDate(size=32) }}
            {% for error in form.trnDate.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.maxSize.label }}<br>
            {{ form.maxSize(size=32) }}
            {% for error in form.maxSize.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr>
    <table border="1">
        <caption>Certification Dates</caption>
        <tr>
            <th style="background-color: yellow">Date</th>
            <th style="background-color: yellow">Max Class Size</th>
        </tr>
        {% for cert in certs %}
            <tr>
                <td>{{ cert.trnDate }}</td>
                <td>{{ cert.maxSize }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
