<!-- displayMember.html -->
{% extends "base.html" %}

{% block app_content %}"
<div class="container-fluid offset-md-4">
    <h2>{{ form.fullName.data }}</h2>
   <br><br>
        <form action="" method="post" novalidate>
            <input autocomplete="false" name="hidden" type="text" style="display:none;">
    <!-- COLUMN 1 -->
    <div class="col-md-4"></div>
    <!-- COLUMN 2 -->
    <div class="col-md-5">
    <table>
        <tr>
            <td>{{ form.homePhone.label }}</td>
            <td>     </td>
            <td>{{ form.homePhone(size=14,readonly=true) }}</td>
        </tr>
        <tr>
            <td>{{ form.mobilePhone.label }}</td>
            <td>     </td>
            <td>{{ form.mobilePhone(size=14,readonly=true) }}</td>
        <tr>
            <td>{{ form.emailAddress.label }}</td>
            <td>     </td>
            <td>{{ form.emailAddress(size=32,readonly=true) }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td>{{ form.certTrainingShop1.label }}</td>
            <td>     </td>
            <td>{{ form.certTrainingShop1(placeholder='mm/dd/yyyy',size=10) }}</td>
        </tr>
        <tr>
            <td>{{ form.certifiedShop1.label }}</td>
            <td>     </td>
            <td>{{ form.certifiedShop1 }}</td>
        </tr>
        <tr></tr>
        <tr>
            <td>{{ form.certTrainingShop2.label }}</td>
            <td>     </td>
            <td>{{ form.certTrainingShop2(placeholder='mm/dd/yyyy',size=10) }}</td><br> 
        </tr>
        <tr>
            <td>{{ form.certifiedShop2.label }}</td>
            <td>     </td>
            <td>{{ form.certifiedShop2 }}</td>
        </tr>
    </table>

        </form>
    </div>
    </div>
    <!-- COLUMN 3 -->
    <div class="col-md-4"></div>
</div>
{% endblock %}    
 