{% extends "base.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"> 
{% endblock %}

{% block scripts %}
	{{super()}}
	<script src="{{ url_for('static', filename='js/home.js') }}"defer>  </script> 
{% endblock %}
{% block app_content %}
<!-- <head>
    <title>CERTIFICATION</title>
</head>  -->
<!-- {{super()}}   -->
<div class="container-fluid py-0 m-0">
    <div class="card py-0 m-0 col-md-12">
        <div class="pageHdg row">
            <div class="title col-md-4">
                <h2>CERTIFICATION</h2>
            </div>
            <div class='col-md-6 findMember'>
                <select id="selectpicker" class='selectpicker' title='Find a  member ...' data-live-search=true data-live-search-style="contains" data-width='auto'>
                    {% for nme in nameArray %}
                        <option  class="optName" value='{{nme}}'>{{ nme }}</option>
                    {% endfor %}
                </select>
                
            </div>
            <a id="linkToMember" style="display:none" href=""></a>

            <div class="version col-md-2">
                <h3>ver. May 16, 2021</h3>
            </div>
        </div>
    </div>
<div class="card-group py-0 m-0 ">

    <div class="card py-0 m-0 col-md-6 ">
        <div class="card-heading p-0 m-0 text-center"style="background:green">
            <h2>ROLLING ACRES</h2>
        </div>
        <div class="card-body p-0 m-0">
            <table id="shop1Table" class="table table-sm table-striped table-hover"> <!-- class ="table text-center border-collapse"> -->
                <thead> <!--  style="font-size: 10px; padding: 1px !important; height: 15px"> --> 
                     <tr>
                        <th></th>
                        <th></th>
                        <th>DATE</th>
                        <th>CLASS</th>
                        <th>SEATS</th>
                        <th>SEATS</th>
                        <th></th> 
                        <th></th> 
                        <th></th>  
                    </tr>    
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>LIMIT</th>
                        <th>TAKEN</th>
                        <th>AVAILABLE</th>
                        <th></th>
                        <th></th>
                        <th></th> 
                    </tr>
                </thead>
       
                <tbody class="shop1body">
                {% for t1 in trainingDatesShop1 %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="text-align:center">{{t1.trainingDate}}</td>
                        <td style="text-align:center">{{t1.classLimit}}</td>
                        <td class="seatsTaken" style="text-align:center">{{t1.seatsTaken}}</td>
                        <td style="text-align:center">{{t1.classLimit - t1.seatsTaken}}</td>
                        <td>
                            <div class="dropdown"></div>
                                <button type="button" class="shop1Btn dropdown-toggle reportBtn btn btn-success btn-sm btn-spacing" data-toggle="dropdown" >REPORTS<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="rptSignIn/{{t1.id}}">Print Sign In Sheet</a></li>
                                    <li><a href="rptClassRoster/{{t1.id}}">Print Class Roster</a></li>
                                </ul> 
                            </div>                               
                            <button type="button" class="shop1Btn viewBtn btn btn-success btn-sm btn-spacing" onclick="location.href='trainingClass/{{t1.id}}'">View Class</button>
                            <button type="button" class="shop1Btn deleteBtn btn btn-danger btn-sm btn-spacing" onclick="location.href='removeTrainingClass/{{t1.id}}'">Delete</button>
                            <button type="button" class="shop1Btn limitBtn btn btn-success btn-sm btn-spacing" onclick="location.href='changeClassLimit/{{t1.id}}'">Change Limit</button>
                        </td>
                    </tr>    
                {% endfor %}
                </tbody>
            </table>
            <div style='text-align:center;padding-bottom:2em'>
                <button class = 'btn btn-success btn-sm' onclick = window.location.href="rptNotCertified/1">List Members NOT Certified for ROLLING ACRES</button> 
            </div>
            
        </div>
        <div class="card-footer">                
            <!--<button type="button" class="btn btn-sm btn-block">Print Sign In Sheet</button>
            <button type="button" class="btn btn-sm btn-warning btn-block">List Not Certified</button>
            <button type="button" class="btn btn-sm btn-primary btn-info btn-block">Certify a Class</button>
            <button type="button" class="btn btn-sm btn-outline-info btn-block">report 4</button>-->
        </div>
    </div>

    <div class="card col-md-6">
        <div class="card-heading  text-center"style="background:brown"><h2>BROWNWOOD</h2></div>
        <div class="card-body">
            <table id="shop2Table" class="table table-sm table-striped table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>DATE</th>
                    <th>CLASS</th>
                    <th>SEATS</th>
                    <th>SEATS</th>
                    <th></th>
                    <th></th>
                    <th></th> 
                </tr>  
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>LIMIT</th>
                    <th>TAKEN</th>
                    <th>AVAILABLE</th>
                    <th> </th>
                    <th> </th>
                    <th></th> 
                </tr> 
                </thead>

                <tbody px-5 mx-5>
                {% for t2 in trainingDatesShop2 %}
                <tr>
                    <td></td>
                    <td></td>
                    <td style="text-align:center">{{t2.trainingDate}}</td>
                    <td style="text-align:center">{{t2.classLimit}}</td>
                    <td style="text-align:center">{{t2.seatsTaken}}</td>
                    <td style="text-align:center">{{t2.classLimit - t2.seatsTaken}}</td>
                    <td>
                            <div class="dropdown"></div>
                            <button type="button" class="shop1Btn dropdown-toggle reportBtn btn btn-success btn-sm btn-spacing" data-toggle="dropdown" >REPORTS<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="rptSignIn/{{t2.id}}">Print Sign In Sheet</a></li>
                                <li><a href="rptClassRoster/{{t2.id}}">Print Class Roster</a></li>
                            </ul> 
                        </div>  
                        <button type="button" class="shop2Btn viewBtn btn btn-success btn-sm btn-spacing" onclick="location.href='trainingClass/{{t2.id}}'">View Class</button>
                        <button type="button" class="shop2Btn deleteBtn btn btn-danger btn-sm btn-spacing" onclick="location.href='removeTrainingClass/{{t2.id}}'">Delete</button>
                        <button type="button" class="shop2Btn limitBtn btn btn-success btn-sm btn-spacing" onclick="location.href='changeClassLimit/{{t2.id}}'">Change Limit</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table> 
            <div style='text-align:center;padding-bottom:2em'>
                <button class = 'btn btn-success btn-sm' onclick = window.location.href="rptNotCertified/2">List Members NOT Certified for BROWNWOOD</button> 
            </div>
        </div>
    
        <div class="card-footer">
  <!--     <button type="button" class="btn btn-primary btn-block">report 1</button>
            <button type="button" class="btn btn-primary btn-block">report 2</button>
            <button type="button" class="btn btn-primary btn-block">report 3</button> -->
        </div>
        
    </div>
</div>
<div class="card-group">
    <div class="card col-md-6">
        <div class="card-heading text-center">NEW TRAINING CLASS</div>
        <div class="card-body mt-15px pt-15px">
            <div class="container mt-15px pt-5 text-center">
                <form method="post" action="./newSession">
                    {{ form.hidden_tag() }}
                    <p> {{ form.shopNumber.label }}
                        {{ form.shopNumber(size=1) }} </p>
                        {% for error in form.shopNumber.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    <p>{{ form.trainingDate.label }}
                        {{ form.trainingDate(size=8,placeholder='mm/dd/yy') }} </p>
                        {% for error in form.trainingDate.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    <p> {{ form.classLimit.label }}
                        {{ form.classLimit(size=3) }}  </p>
                        {% for error in form.classLimit.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    <br>
                    <p>{{ form.submit() }}</p>        
                </form>
                <!-- <div class="findMember">
                    <select id="selectpicker2" class='selectpicker' title='Find a  member ...' data-live-search=true data-live-search-style="contains" data-width='auto'>
                        {% for nme in nameArray %}
                            <option  class="optName" value='{{nme}}'>{{ nme }}</option>
                        {% endfor %}
                    </select>
                </div> -->
            </div>
        </div>
    </div>
    <div class="card col-md-12">
        <div class="card-heading text-center">STATISTICS</div>
        <div class="card-body">
            <div class="container">
                <div class="row mx-5">
                    <div class="col-sm-12 mt-3 ml-5 mr-0 px-0">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Current paid memberships -</td>
                                    <td style=text-align:right>{{currentPaidMembers}}</td>
                                </tr>
                                <tr>
                                    <td>--------------------------------------------------</td>
                                    <td>-------</td>
                                </tr>
                                <tr>
                                    <td>Number certified (Rolling Acres) -</td>
                                    <td style=text-align:right>{{certifiedShop1}}</td>
                                </tr>
                                <tr>
                                    <td>Number certified (Brownwood) -</td>
                                    <td style = text-align:right>{{certifiedShop2}}</td>
                                </tr>
                                <tr>
                                    <td>Number certified for both shops -</td>
                                    <td style=text-align:right>{{certifiedForBothShops}}</td>
                                </tr>
                                <tr>
                                    <td>------------</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Number NOT certified (Rolling Acres) -</td>
                                    <td style=text-align:right>{{notCertifiedShop1}}</td>
                                </tr>
                                <tr>
                                    <td>Number NOT certified (Brownwood) -</td>
                                    <td style=text-align:right>{{notCertifiedShop2}}</td>
                                </tr>
                                <tr>
                                    <td>Number NOT certified for either shop -</td>
                                    <td style=text-align:right>{{noCertification}}</td>
                                </tr>
                                <tr>
                                    <td>------------</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Number of new members this year -</td>
                                    <td style=text-align:right>{{newThisYear}}</td>
                                </tr>
                               
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<!-- MODAL FORM FOR MEMBER DATA -->
<div id="memberModalID" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="modalTitle"></h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6" style="text-align:right">
                        <label for="memberID" >Village ID</label>
                    </div>
                    <div class="col-5">
                        <input id='memberID' type="text" style="width:80px" readonly name='memberID'>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" style=text-align:right>
                        <label for="homePhone">Home phone</label>
                    </div>
                    <div class="col-5">
                        <input id='homePhone' type="text" class='phones' style=width:130px name='homePhone' >
                    </div>
                </div>    
                <div class="row">
                    <div class="col-6" style=text-align:right>
                        <label for="cellPhone">Cell phone</label>
                    </div>
                    <div class="col-5">
                        <input id='cellPhone' type="text" class='phones' style=width:130px name='cellPhone'>
                    </div>
                </div> 
                <div class="row">
                    <div class="col-6" style=text-align:right>
                        <label for="eMail">E-Mail</label>
                    </div>
                    <div class="col-5">
                        <input id='eMail' type="text" style=width:220px name='eMail' value={{eMail}}>
                    </div>
                </div> 
                <br>
                <div class="row">
                    <div class="col-6" style=text-align:right>
                        <label for="certifiedRA">Certified (RA)</label>
                    </div>
                    <div class="col-5">
                        <input 
                            id='certifiedRA' 
                            name='certifiedRA' 
                            type="checkbox"
                            {% if certifiedRAvalue == 'True' %}
                                checked
                            {% endif %}
                            value={{certifiedRAvalue}}
                            >
                    </div>
                </div> 
               
                <div class="row">
                    <div class="col-6" style=text-align:right>
                        <label for="certifiedRAdate">Date certified (RA)</label>
                    </div>
                    <div class="col-5">
                        <input id='certifiedRAdate' name='certifiedRAdate' style=width:145px type="date">
                    </div>
                </div> 
                <br>
                <div class="row">
                    <div class="col-6" style=text-align:right>
                        <label for="certifiedBW">Certified (BW)</label>
                    </div>
                    <div class="col-5">
                        <input 
                            id='certifiedBW' 
                            name='certifiedBW' 
                            type="checkbox"
                            {% if certifiedBWvalue == 'True' %}
                                checked
                            {% endif %}
                            value={{certifiedBWvalue}}
                            >
                    </div>
                </div> 
                <div class="row">
                    <div class="col-6" style=text-align:right>
                        <label for="certifiedBWdate">Date certified (BW)</label>
                    </div>
                    <div class="col-5">
                        <input 
                            id='certifiedBWdate' 
                            name='certifiedBWdate' 
                            style=width:145px 
                            type="date">
                    </div>
                </div> 

                <hr style=font-weight:400>
                <div class="modal-footer"> 
                    <button id='cancelMemberID' type='button' class='btn btn-secondary btn-sm'>Cancel</button>
                    <button id='processMemberID' type="button" class="btn btn-primary btn-sm">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script> -->

{% endblock %}
