{% extends "base.html" %}
{% block app_content %}

<table border="1">
    <caption>ROLLING ACRES TRAINING SESSIONS</caption>
    <tr>
        <th style="background-color: white">DATE</th>
    </tr>
    {% for t in trainingDatesShop1 %}
        <tr>
            <form method="POST" action="./selectDate1" style="display: inline" >
            <td>{{ t.trainingDate }}</td>
            <td><input type="hidden" value="{{ t.id }}" name="id1"></td>
            <td><input type="submit" value="SELECT"></td>
            </form>
        </tr>
    {% endfor %}
</table>

{% endblock %}    