<!-- rptNotCertified.html -->
{% extends "base.html" %}
{% block app_content %} 
<!-- Include Print CSS -->

 <head>
    <title>CERTIFICATION SIGN IN - {{ shopName }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/rptSignIn.css') }}"> -->
</head>
<div class="VWCreports">
    <div class='titles'>
        <div class="row">
            <div class="col-2">
                &nbsp;
            </div>
            <div class="col-8">
                <h2 class="text-center">THE VILLAGES WOODWORKERS CLUB</h2>
            </div>
            <div class="col-2">
                <button id="backButton" style=margin-right:20px; onClick="goBack();">Go Back</button> 
                <button id="printPageButton" style=margin-right:20px; onClick="window.print();">PRINT</button>
            </div>
        </div>
       
        <h3 class="text-center">CLASS ROSTER</h3>
        <h3 class="text-center">{{shopName}}</h3>
        <h3 class="text-center">FOR TRAINING CLASS ON {{ trainingDisplayDate }}</h3>
    </div>
    
    <div class="row headingRow">
        <div class="col-2" style=margin-left:50px>Name</div>
        <div class="col-3">E-Mail</div>
        <div class="col-2">Cell</div>
        <div class="col-2">Home</div>
        <div class="col-1" style=text-align:center>Joined</div>
        <div class="col-1" style=text-align:center>Certified</div>
    </div>
    {% for e in enrolleesDict %}
        <div class="row detailRow">
            <div class="col-2" style=margin-left:50px>{{e.name}}</div>
            <div class="col-3">{{e.eMail}}</div>
            <div class="col-2">{{e.cellPhone}}</div>
            <div class="col-2">{{e.homePhone}}</div>
            <div class="col-1" style=text-align:right>{{e.joined}}</div>
            <div class="col-1 isCertified" style="margin:0 auto">
                {% if e.certified %}
                    <span style='margin-bottom:5px; display:inline-block'>&#x2714</span>
                {% else %}
                    <span style='border:1px solid black;height:20px;width:20px;display:inline-block'>&nbsp</span>
                {% endif %}
            </div>
            
            
        </div>
    {% endfor %}
    <div class="row"style=margin-left:50px;margin-top:100px>Record count -  {{recordCount}}</div>
    
</div>  
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %} 