<!-- rptNotCertified.html -->
{% extends "base.html" %}
{% block app_content %} 
<!-- Include Print CSS -->

 <head>
    <title>CERTIFICATION SIGN IN - {{ shopName }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rptClassRoster.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/rptSignIn.css') }}"> -->
</head>
<div class="wholePage">
    <div class='pageButtons'>
        <button id="backButton" class='btn btn-secondary' style=margin-right:20px; onClick="goBack();">Go Back</button>    
        <button id="printPageButton" class='btn btn-primary' style=margin-right:20px; onClick="window.print();">PRINT</button>
    </div> 
    <br><br>
    <div class="title">
        <h2 class="text-center">THE VILLAGES WOODWORKERS CLUB</h2>
    </div>           
    
    <div class="subTitles">
        <h3 class="text-center">CLASS ROSTER</h3>
        <h3 class="text-center">{{shopName}}</h3>
        <h3 class="text-center">FOR TRAINING CLASS ON {{ trainingDisplayDate }}</h3>
    </div>
    
    <table>
        <thead>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Cell</th>
            <th>Home</th>
            <th>Joined</th>
            <th>Certified</th>
        </thead>
        <tbody>
            {% for e in enrolleesDict %}
                <tr>
                    <td>{{e.name}}</td>
                    <td>{{e.eMail}}</td>
                    <td>{{e.cellPhone}}</td>
                    <td>{{e.homePhone}}</td>
                    <td>{{e.joined}}</td>
                    {% if e.certified %}
                        <td><span>&#10003</span></td>
                    {% else %}
                    <td>
                        <span style='border:1px solid black;height:20px;width:20px;display:inline-block'>&nbsp</span>
                    </td>
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div class="row"style=margin-left:70px;margin-top:20px;font-weight:700>Record count -  {{recordCount}}</div>
    
</div>  
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %} 