<!-- rptNotCertified.html -->
{% extends "base.html" %}
{% block app_content %} 
<!-- Include Print CSS -->

 <head>
    <title>Not Certified - {{ shopName }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rptNotCertified.css') }}">
</head>

<div class="wholePage">
    <div class='hdg'>
        <div class='pageButtons'>
            <button id="backButton" class='btn btn-secondary' style=margin-right:20px; onClick="goBack();">Go Back</button> 
            <button id="printPageButton" class='btn btn-primary' style=margin-right:20px; onClick="window.print();">PRINT</button>
            
        </div>
        <br>
        <br>
        <div class=title'>
            <h2 class="text-center">THE VILLAGES WOODWORKERS CLUB</h2>
        </div>     
    </div>
           
    <div class="subtitles">
        <h3 class="text-center">Members Not Certified</h3>
        <h3 class="text-center">{{shopName}}</h3>
        <h3 class="text-center">As of {{ todays_date }}</h3>
    </div>   
    <br>
    <table>
        <thead>
            <th>Name</th>
            <th>Training</th>
            <th>E-Mail</th>
            <th>Cell</th>
            <th>Home</th>
            <th>Joined</th>
        </thead>
        <tbody>
            {% for n in notCertifiedDict %}
                <tr>
                    <td>{{n.name}}</td>
                    <td>{{n.dateToBeTrained}}</td>
                    <td>{{n.eMail}}</td>
                    <td>{{n.cellPhone}}</td>
                    <td>{{n.homePhone}}</td>
                    <td>{{n.joined}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>  
    

    <div class="row reportFooter"style=margin-left:50px;margin-top:100px>Record count -  {{recordCount}}</div>
    
</div> 

<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %} 