<!-- rptNotCertified.html -->
{% extends "base.html" %}
{% block app_content %} 
<!-- Include Print CSS -->
 <head>
    <title>CERTIFICATION SIGN IN - {{ shopName }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rptSignIn.css') }}">
</head>
<div class="VWCreports">
    <button id="printPageButton" onClick="window.print();">PRINT</button>
    <h1 class="text-center">THE VILLAGES WOODWORKERS CLUB</h1>
    <h2 class="text-center">SIGN IN SHEET</h2>
    <h2 class="text-center">FOR TRAINING CLASS ON {{ trainingDisplayDate }}</h2>
   
    <div class="row headingRow">
        <div class="col" style=margin-left:50px>Initials</div>
        <div class="col-3">Name</div>
        <div class="col">E-Mail</div>
        <div class="col">Cell</div>
        <div class="col">Home</div>
        <div class="col">Staff</div>
    </div>
    {% for n in enrollees %}
        <div class="row detailRow">
            <div class="col" style=margin-left:50px>________</div>
            <div class="col-3">{{n.Last_Name}}, {{n.First_Name}}   ({{n.Member_ID}})</div>
            <div class="col">{{n.eMail}}</div>
            <div class="col">{{n.Cell_Phone}}</div>
            <div class="col">{{n.Home_Phone}}</div>
            <div class="col">________</div>
        </div>

        <div class="row emergencyRow">
            <div class="col-5 emergContact">
                <div>Emergency contact -  {{n.Emerg_Name}}</div>
            </div>
            <div class="col-5 emergPhone">
                <div>Emergency phone -  {{n.Emerg_Phone}}</div>
            </div>
        </div>
       <br>
    {% endfor %}
    <div class="row"style=margin-left:100px;margin-top:100px>Record count -  {{recordCount}}</div>
    
</div>  
{% endblock %} 