<!-- stats.html -->
{% extends "base.html" %}
<!-- <link rel="stylesheet" type="text/css" href="/app/static/css/main.css">   -->

{% block app_content %}
<style> 
body { 
     font-family: "Open Sans", Tahoma, sans-serif 
     }


.certificationTraining {
    border-style: 1px solid green;
}

.shop1classes {
    border-style: 2px solid blue;
    background-color: lightskyblue;
    width: 45%;
    float: left;
    padding: 10px;
    margin: 5px
} 

.shop2classes {
    border-style: 2px solid red;
    background-color: lightsalmon;
    width: 45%;
    float: right;
    padding: 10px;
    margin: 10px
}
table {
    border: 1px solid blue;
    width:300px;
    padding: 5px;
    margin: 0 auto 0 auto;
}

th {
    width:300px;
    padding: 5px;
    margin: 0 auto 0 auto;
    background-color: #4CAF50;
    color: white;
    font-size: small;
    line-height: 2px;
  }

td {
    border: 1px solid blue;
    width:300px;
    padding: 5px;
    margin: 0 auto 0 auto;
    font-size:medium;
}
.summary {
    display:block;
    float: left;
    clear: both;
    color: navy;
}
input { 
    text-align: center; 
}
.newSession {
    display: inline-block;
    color:white;
    border-style: 2px solid rgb(243, 247, 248);
    background-color: rgb(59, 31, 163);
    width: 45%;
    padding: 10px;
    margin: 10px  
}
.newSession h2 {
    color:white
}

</style>

<div class="certificationTraining">
    <div class='shop1classes' >
        <h1 class="text-center">ROLLING ACRES</h1>  
        <table style="display: inline block;">                      
            <tbody>
            <tr>
                <th style="text-align:center">DATE</th>
                <th style="text-align:center">CLASS</th>
                <th style="text-align:center">SEATS</th>
                <th style="text-align:center">SEATS</th>
                <th style="text-align:center"></th>
            </tr>    
            <tr>
                <th></th>
                <th style="text-align:center">LIMIT</th>
                <th style="text-align:center">TAKEN</th>
                <th style="text-align:center">AVAILABLE</th>
                <th style="text-align:center"></th>
            </tr>
            {% for t in trainingDatesShop1 %}
            <tr>
                <form method="POST" action="./updateClassLimit1">
                <td style="text-align:right">{{t.trainingDate}}</td>
                <td >
                    <input type="hidden" value="{{t.shopNumber}}"name="shopNumber1">
                    <input type="hidden" value="{{t.id}}"name="id1">
                    <input type="hidden" value="{{t.trainingDate}}"" name="trainingDate1">
                    <input type="hidden" value="{{t.classLimit}}" name="oldClassLimit1">
                    <input type="text" value="{{t.classLimit}}" name="newClassLimit1" size="5">
                </td>
               
                <td style="text-align:center">{{t.seatsTaken}}</td>
                <td style="text-align:center">{{t.classLimit - t.seatsTaken}}</td>
                <td>
                    <input type="submit" value="Change Class Limit">
                </td>>
                </form> 
            </tr>
                
            {% endfor %}
            </tbody>
        </table>
    </div>
            
            
    <div class="shop2classes">
    <h1 class="text-center">BROWNWOOD</h1>  
    <table> 
        <tbody>
        <tr>
            <th style="text-align:center">DATE</th>
            <th style="text-align:center">CLASS</th>
            <th style="text-align:center">SEATS</th>
            <th style="text-align:center">SEATS</th>
            <th style="text-align:center"></th>
        </tr>  
        <tr>
            <th></th>
            <th style="text-align:center">LIMIT</th>
            <th style="text-align:center">TAKEN</th>
            <th style="text-align:center">AVAILABLE</th>
            <th style="text-align:center"></th>
            
        </tr>  
        {% for t in trainingDatesShop2 %}
        <tr>
            <form method="POST" action="./updateClassLimit2">
            <td style="text-align:right">{{t.trainingDate}}</td>
            <td >
                <input type="hidden" value="{{t.shopNumber}}"name="shopNumber2">
                <input type="hidden" value="{{t.id}}"name="id2">
                <input type="hidden" value="{{t.trainingDate}}"" name="trainingDate2">
                <input type="text" value="{{t.classLimit}}" name="newClassLimit2" size="5">
            </td>
            <td style="text-align:center">{{t.seatsTaken}}</td>
            <td style="text-align:center">{{t.classLimit - t.seatsTaken}}</td>
            <td>
                <input type="submit" value="Change Class Limit">
            </td>>  
            </form>
        </tr>
        {% endfor %}
        </tbody>
    </table> 
    </div>

    <p></p>

    <div class = "summary">     
        <br>
        <p>Current number of paid members - {{ currentMembers }}</p>
        <p>New members this year - {{ newThisYear }}</p>
        <p>Members not certified for ROLLING ACRES - {{ NotCertifiedShop1 }}</p> 
        <p>Members not certified for BROWNWOOD - {{ NotCertifiedShop2 }}</p> <br>
        <p>Members not certified for EITHER SHOP - <b>{{ NoCertification }}</b></p> 
    </div>
   
    <div class=newSession>
        <h2>ADD NEW TRAINING DATE</h2>
        <form method="post" action="./newSession">
            <p>
                {{ form.hidden_tag() }}
                {{ form.shopNumber(size=1) }}
                {{ form.trainingDate(size=32) }}  <!-- datepicker ?-->
                {{ form.classLimit(size=3) }}  
            </p>  
            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>



{% endblock %}
