<!-- rptNotCertified.html -->
{% extends "base.html" %}
{% block app_content %} 
<!-- Include Print CSS -->
 <head>
    <title>CERTIFICATION</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}">
</head>
<div class="VWCreports">
    <button id="printPageButton" onClick="window.print();">PRINT</button>
    <h1 class="text-center">THE VILLAGES WOODWORKERS CLUB</h1>
    <h2 class="text-center">MEMBERS NOT CERTIFIED</h2>
    <h2 class="text-center">TODAY IS {{ todays_date }}</h2>
   
    <table style="display: inline block;">                      
        <tbody>
        <tr>
            <th style="width:300px">Name</th>
            <th style="text-align:left">Training</th>
            <th>Cell</th>
            <th style="text-align:left">Home</th>
            <th style="text-align:left">E-Mail</th>
            <th style="text-align:center">Joined</th>
        </tr>    
    {% for n in notCertified %}
    <tr>
        <td style="text-align:left">{{n.Last_Name + ', '+n.First_Name}}</td>
        <td style="text-align:left">{{n.certTrainingShop1}}</td>
        <td style="text-align:left">{{n.mobilePhone}}</td>
        <td style="text-align:left">{{n.homePhone}}</td>
        <td style="text-align:left">{{n.emailAddress}}</td>
        <td style="text-align:center">{{n.dateJoined.strftime('%m-%d-%Y')}}</td>
        
    </tr>    
    {% endfor %} 
</div>  
{% endblock %} 